// Override and extend Bootstrap stuff
// --------------------------------------------------
// Files, classes, mixins etc.
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import "theme/mixins";
@import "theme/scaffolding";
@import "theme/alerts";

// Own modules
// --------------------------------------------------
// @import "theme/testResponsiveHelpers"; // debug
@import "theme/footer";
@import "theme/navbar";

// Important note //
// You could also use this file to insert theme related style definitions
// directly within this file. But we recommend to exclude your Sass code to
// separate files like the examples above when you exceed a few hundred lines
// of code. Otherwise it will definitely have a negative impact on
// maintainability.

* {
    font-family: $font1;
}

body {
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

h3 {
  font-size: 30px;
}

p, ul, li, a, span {
    font-size: 15px !important;
    font-weight: 300;
    line-height: 2;
    color: #4a4a4a;
}

ul{

  list-style-image: url('/assets/img/bullet.png');
}

.hide-sm {
  display: block;
}

.sm-only {
  display: none;
}

.bg-gray {
  background-color: #f5f5f5;
}
.upper {
    text-transform: uppercase;
}

.blacked {
    font-weight: bold;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
    border-radius: 3px;
    border: solid 1px #fff;
    display: inline-block;
    padding: 8px 22px;
    cursor: pointer;
    transition: .2s ease all;
}

.btn-1:hover {
  text-decoration: none;
  background-color: #64b1bc;
  color: white;
  border: solid 1px #64b1bc;

}

.btn-2:hover {
  text-decoration: none;
  background-color: #64b1bc;
  color: white;
  border: solid 1px #64b1bc;
  border: solid 1px #fff;

}

.btn-2 {
    border-radius: 3px;
    border: solid 1px #fff;
    display: inline-block;
    border: solid 1px transparent;
    padding: 8px 22px;
    font-weight: bold;
    background: white;
    color: #64b1bc;
    font-size: 14px;
    box-shadow: 2px 3px 9px 0 rgba(27, 32, 64, 0.17);
    cursor: pointer;
    transition: .2s ease all;
}

.btn-3 {
  border-radius: 3px;
  border: solid 1px #fff;
  display: inline-block;
  padding: 8px 22px;
  background: #64b1bc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease all;
}

.btn-3:hover {
  text-decoration: none;
  border: solid 1px #64b1bc;
  color: #64b1bc;
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.map {
  width: 100%;
  height: 400px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}


.slider {
  margin-top: 114px;
}
.slider .carousel-caption {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;

    h2, p {
      color: white;
    }

    h2 {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      font-size: 40px;
    }

    p {
      font-size: 24px !important;
      font-weight: 400;
    }

    .btn-1 {
      margin-top: 70px;
    }
}

.info-box-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.info-box {
    width: 70%;

    p {
      line-height: 2;
      color: #4a4a4a;
      font-size: 15px;
    }
}

.info-imgs > .col-6{
  padding: 0;
  margin: 0;
}

.info-box-left {
  float: right;
  margin-right: 5%;
}
.info-box-right {
  float: left;
  margin-left: 5%;
}
.info-1 {
    h3 {
      margin-bottom: 30px;
    }

    .col-md-5 {
      padding-bottom: 0;
    }
}

.info-video {
  background-color: #64b1bc;
  padding: 70px 10% 70px 4%;

  .video-container {
    padding-right: 30px;
  }

  .info-text {
    padding-left: 30px;
  }

  h3 {
    border-left: 2px solid white;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  p {
    color: white;
    padding-left: 10px;
    line-height: 2;
    font-size: 15px;

  }
}

.viaja {
    padding: 80px 10%;
   > div {
     width: 70%;
     max-width: 1000px;
   }
   h2 {
      line-height: 1.45;
      letter-spacing: 0.5px;
      margin-bottom: 50px;
   }
    h6 {
      font-weight: 400;
      letter-spacing: 1em;
      margin-bottom: 60px;
      font-size: 18px;
    }

    p {
      padding: 0 4%;
      line-height: 2;
      color: #4a4a4a;
      font-size: 15px;
    }
}

.img-separator {
  div {
    padding: 0;
    margin: 0;
    display:inline-table;

  }

  img {
    width: 100%;
  }

  .img-1 {
    width: 42.3%;
  }

  .img-2 {
    width: 31.3%;
  }

  .img-3 {
    width: 26.4%;
  }
}

.info-2 {
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1400px;

  h3 {
    margin-bottom: 30px;
  }

  p {
    line-height: 2;
    color: #4a4a4a;
    font-size: 15px;
  }

  .img-container {
    padding-right: 8%;
  }
}

.hotels-info {

    margin-top:  -2px;

    .text-box-left {
      width: 70%;
      margin-right: -15%;
      float: right;
    }
    .text-box-right  {
      width: 70%;
      margin-left: -15%;
      float: left;
    }



    div {
      padding: 0;


    }

    .hotels-info-box {
        padding: 30px 20px;
        max-width: 90%;


    }

    h3 {
      line-height: 1.45;
    }

    p {
      font-size: 15px;
      line-height: 1.5;
    }

    p.clarification {
      font-size: 11px !important;
    }


}
.travel-platform {
  background-color: #64b1bc;
  padding: 20px 0;
  height: 400px;
  color: white;

  > div {
    margin: 0 auto;
    max-width: 1400px;
  }
  .flex-cc {
    height: 100%;
    flex-direction: column;
    float: right;
  }

  .info {
    width: 80%;
  }

  .row, .row > div {
    height: 100%;
  }
  .video-container > div {
    width: 90%;
  }

  q {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
}

.adds {
  padding: 80px 10%;

  > div {
    margin: 0 auto;
    max-width: 1400px;
  }

  .col {
    margin: 0 12px;
  }

  img {
    margin-bottom: 20px;
  }

  p {
    color: #4a4a4a;
  }
}

.our-hotels {
  margin-top: 30px;
  h2 {
    margin-bottom: 40px;
  }

  .title p {
    width: 50%;
    margin: 32px auto;
  }

  .hotels {
    padding: 40px 2%;
    background-color: #64b1bc;

    margin: 200px auto 0 auto;

    .row {
      padding: 0;
      max-width: 1600px;
      margin: -180px auto 0 auto;
    }

    .col {
      margin: 0 25px;
    }

    .info {
      background-color: white;
      padding: 10px 15px;
    }

    .resort {
      margin-top: 15px;
      font-weight: 400;
      font-size: 32px;
      color: #64b1bc;

      .upper {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

.contact {
  padding: 80px 10%;

  .container {
    margin: 0 auto;
    max-width: 1400px;
  }

  h2 {
    margin-bottom: 70px;
  }

  a {
    font-weight: 400;
  }

  .fa {
    color: $color1;
    margin-right: 20px;
    font-size: 22px;
  }

  .logo {
    width: 80%;
    margin: 160px auto 0 auto;
  }

  .form-container {
    margin-left: 30px;
  }

  input,label,textarea {
    display: block;
    width: 100%;
  }

  label {
    font-size: 12px;

    span.blacked {
      font-size: 15px;
    }
  }

  input[type="text"] {
    height: 45px;
    border-radius: 3px;
    background-color: white;
    border: solid 1px #e4e4e4;
    margin-bottom: 20px;
  }

  textarea {
    border-radius: 3px;
    background-color: white;
    border: solid 1px #e4e4e4;
    margin-bottom: 20px;
  }

  .btn-3 {
    width: 100%;
    text-align: center;
  }
}

.mail-sent {
  margin: 0;

  .bg, .info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .info {
    flex-direction: column;
    padding: 10% 20px;

    > * {
      margin-bottom: 50px;
    }
    img {
      width: 190px;

    }

    h3 {
      color: white;
      font-weight: bold;
      letter-spacing: .5px;
    }

    p {
      color: white;
      font-size: 16px;
       font-weight: normal;
       font-style: normal;
       font-stretch: normal;
       line-height: 2.5;
       letter-spacing: normal;
       text-align: center;
    }

    .btn-3 {
      width: 250px;
      text-align: center;
      border-color: transparent;
    }

    .btn-3:hover {
      text-decoration: none;
      border-color: white;
      color:white;
    }
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1281px) {
  h3 {
    font-size: 26px;
    line-height: 1,2;
  }
  .hotels-info .text-box-right {
    width: 95%;
    margin-left: 0;
  }

  .hotels-info .text-box-left {
    width: 95%;
    margin-right: 0;
  }
}


@media only screen and (min-width: 992px) and (max-width: 1280px){
  h3 {
    font-size: 22px;
  }

  .hotels-info .w-100 {
    width: 80% !important;
  }

  .hotels-info {
    padding: 30px;
    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
     .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .bg-gray {
      background-color: white;
    }
  }

  .info-box p{
    line-height: 1.5;
  }
  .info-box-left{
    margin-right: 0;
  }
  .info-box {
    width: 90%;
  }
}

@media only screen and (max-width: 991px) {
  .hotels-info .text-box-left {
    width: 100%;
    margin-right: 0%;
    float: none;
  }
  .hotels-info .text-box-right  {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  .hide-sm {
    display: none;
  }

  .sm-only {
    display: block;
  }
  h3 {
    font-size: 20px;
  }
  .slider {
    margin-top: 125px;

    .carousel-caption {
      .btn-1 {
        margin-top: 0;
      }
      h2 {
        font-size: 28px;
      }

      p {
        font-size:  20px !important;
      }
    }
  }

  .info-1 {

    margin-top: 50px;
    .info-box {
      width: 90%;
    }
    p {
      line-height: 2.69;
    }

    .img-container {
      margin-top: 50px;
    }
  }

  .info-video {
    padding: 70px 5% 70px 5%;
    .video-container {
      padding-right: 0;
      padding-left: 0;
    }

    .info-text {
      padding: 0;
      margin-top:  50px;

      h3{
        border: none;
        line-height: 1.9;
        letter-spacing: 0.3px;
      }

      p{
        line-height: 2.69;
      }
    }
  }

  .viaja {
    padding: 80px 5%;
    > div {
      width: 100%;
    }

    h2 {
      font-size: 26px;
      line-height: 1.9;
      text-align: left !important;
    }

    p {
      line-height: 2.69;
      padding: 0;
      text-align: left !important;
    }

  }

  .img-separator {
    div {
      display: block;
    }

    .img-1, .img-2, .img-3 {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }

  .info-2 {
    .info-box {
      width: 90%;
    }

    img{
      margin: 35px 0 ;
    }

    p {
      line-height: 2.69;
    }

    .img-container {
      padding: 0 5%;
    }
  }

  .hotels-info {
    margin-top: 0;

    .hotels-info-box {
      padding: 30px 5%;
      max-width: 100%;
    }

    h3 {
      margin: 40px 0;
      line-height: 1.9;
      letter-spacing: 0.3px;
    }

    p{
      line-height: 2.69;
    }

    p.clarification {
      font-size: 10px !important;
      line-height: 1,8 !important;
    }
  }

  .travel-platform{
    height: auto;
    .info {
      width: 100%;
      height: 300px;
    }

    .video-container > div{
      width: 100%;
    }
  }

  .adds {
    padding: 80px 0;
    .row > div {
      padding: 0;

      p {
        padding: 25px 5%;
        line-height: 2.69;
      }
    }
  }

  .our-hotels {
    .title p {
      width: 90%;
      line-height: 2.19;
      letter-spacing: normal;
    }

    .hotels {
      background-color: white;
      padding: 40px 0;

      .row > div {
        padding: 0;
        h2 {
          font-size: 55px;
        }
        span {
          font-size: 42px;
          font-weight: bold;
        }
        h2, span {
          text-align: center;
          display: block;

        }
        p {
          padding: 5px 0%;
          line-height: 2.69;
        }
      }
    }
  }

  .contact {
    padding: 80px 5%;

    a {
      margin: 20px 0;
      font-size: 16px;
    }

    .container {
      padding: 0;
    }

    .form-container {
      margin:  30px 0;
    }

    .logo {
      width: 100%;
      margin: 0;
    }
  }


}
