//
// Footer
// --------------------------------------------------
// Custom footer styles

// Global variables
//

$footer-height: 60px;
$footer-text-margin: 20px;

// Global mixins
//

// Called in _scaffolding.scss
@mixin footer-htmlProps {
	position: relative;
	min-height: 100%;
}

// Called in _scaffolding.scss
@mixin footer-bodyProps {
	// Margin bottom by footer height
	margin-bottom: ($footer-height - $footer-text-margin);
}

// Module wrapper

.footer, footer {
	padding: 50px 10%;
	background-color: $color1;
	color: white;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
    max-width: 1400px;

		h5 {
			font-size: 14px;
		}
		a {
			display: block;
			font-size: 12px;
			font-weight: 400;
		}

		p a {
			display: inline;
			font-size: 12px;
			font-weight: 400;
		}
	}

	h5, p, a {
		color: white;
	}


}
