.navbar {
  padding: 0;
  .navbar-brand {
    box-sizing: border-box;
    background-color: #64b1bc;
    padding: 10px 50px;
    margin: 0;
    z-index: 9999;

    img {
      width: 80%;
      margin: auto 0;
    }
  }
  .nav-top{
    border-bottom: 2px solid #f5f5f5;
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 3px 3%;
    a {
      font-size: 13px !important;
      font-weight: normal;
      letter-spacing: 0.5px;
      margin-left: 15px;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .navbar-collapse {
    padding-right: 3%;
    padding-top: 35px;

  }
}

.navbar-light .navbar-nav .nav-link {
  font-weight: normal;
  color: #4a4a4a;
  font-size: 14px !important;
}

.navbar-light .navbar-nav:hover, .navbar-light .navbar-nav .nav-link:hover {
  color: #64b1bc;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #64b1bc;
}

@media only screen and (max-width: 1200px) {
  nav.navbar {
    margin-top: 34px;
    background-color: $color1 !important;

    .nav-top {
      position: fixed;
      background-color: white;
      display: flex;
      justify-content: space-between;

      a{
        margin-left: 0;
      }
    }

    .nav-item {
      padding: 0 4%;
    }
    .navbar-nav .nav-link {
      color: white;
    }

    .navbar-nav .nav-link:hover {
      color: white;
      font-weight: bold;
    }

    .navbar-nav .active > .nav-link {
      color: white;
      font-weight: bold;
    }

    .navbar-toggler {
      margin-right: 22px;
      border: none;
      outline: none;

      span {
        color: white;
        font-size: 28px;
      }
    }
  }
  .navbar .navbar-brand {
    padding: 10px 0;
    img {
      width: 60%;
    }
  }
}
