{{!-- begin: footer --}}
<footer>
	<div class="container">
		<div class="hide-xs">
			<h5 class="upper">SITIO</h5>
			<a href="#">¿Qué es?</a>
			<a href="#">¿Cómo Funciona?</a>
			<a href="#">Privilegios</a>
			<a href="#">Beneficios</a>
			<a href="#">Contacto</a>
		</div>

		<div class="hide-xs">
			<h5 class="upper">NEWSLETTER</h5>
			<p>Suscríbete a nuestro newsletter <a href="#">aquí</a></p>
		</div>

		<div class="sm-only text-center w-100">
			<p class="upper">COPYRIGHT © 2015 / ALL RIGHTS RESERVED</p>
		</div>
	</div>
</footer>
{{!-- end: footer --}}
