{{!-- begin: navbar --}}
<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
	<a class="navbar-brand flex-cc" href="index.html">
		<img class="d-block" src="/assets/img/logo.svg" alt="Logo">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="fa fa-bars"></span>
	</button>
	<div class="nav-top">
		<a href="mailto:">contacto@ejemplo.com</a>
		<a href="tel:(55) 1122 3344">Tel (55) 1122 3344</a>
	</div>

	<div class="collapse navbar-collapse navbar-right order-3 dual-collapse2" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item {{home}}">
				<a class="nav-link" href="index.html">Bienvenida</a>
			</li>
			<li class="nav-item {{demoElements}}">
				<a class="nav-link" href="demoElements.html">¿Qué es?</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">¿Cómo Funciona?</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Privilegios</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Beneficios</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Nuestros Hoteles</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Club News</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Solo para socios</a>
			</li>
			<li class="nav-item {{stickyFooter}}">
				<a class="nav-link" href="stickyFooter.html">Contáctanos</a>
			</li>
		</ul>
	</div>
</nav>
{{!-- end: navbar --}}
