
	{{!-- begin: content container --}}
	<main class="mail-sent">
		<div class="flex-cc">
			<img class="bg d-block w-100" src="/assets/img/hotel-mail-sent.jpg">
			<div class="info flex-cc ">
				<img class="d-block" src="/assets/img/envelope.svg">
				<h3 class="upper">FORMULARIO ENVIADO</h3>
				<p>
					Muchas gracias por tu interés, muy pronto nos pondremos
					<br>
					en contacto contigo para brindarte la mejor atención.
				</p>
				<a class="btn-3 upper" href="index.html">
					continuar
				</a>
			</div>
		</div>
	</main>
	{{!-- end: content container --}}
