---
home: active
---
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	{{> navbar }}

	{{!-- begin: content container --}}
	<main class="">

		{{!-- begin: content --}}

		<section id="slider" class="slider">
			<div id="slider-main" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">

			    <div class="carousel-item active">
			      <img class="d-block w-100" src="/assets/img/crusero.jpg" alt="First slide">
						<div class="carousel-caption flex-cc">
							<div class="item-info">
								<h2>Intégrate a <span class="">Club Imperial</span></h2>
								<p>
									y te mandamos de Crucero GRATIS
								</p>
							</div>
					    <div class="btn-1 upper">terminos y condiciones</div>
					  </div>
			    </div>
					{{!--
			    <div class="carousel-item">
			      <img class="d-block w-100" src="..." alt="Second slide">
			    </div>
					--}}
			  </div>
			  <!--<a class="carousel-control-prev" href="#slider-main" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#slider-main" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>-->
			</div>
		</section>

		<section class="info-1">
			<div class="row">
				<div class="col-lg-6 col-md-12 info-box-container">
					<div class="info-box info-box-left">
						<h3 class="upper">VACACIONAR TODO EL AÑO ES UN SUEÑO QUE CLUB IMPERIAL TE HACE REALIDAD</h3>
						<p>
							Para ti que disfrutas de viajar todo el año, sabes lo importante que es realizar un viaje con tus seres queridos o con amigos, porque más allá de las vacaciones, en los viajes se construyen los momentos más memorables de la vida.
							<span class="blacked">Club Imperial</span> es una comunidad de personas como tú, que les gusta poder viajar con toda la  exibilidad del mundo, sin limitantes de fechas y tan frecuente como quieran.
							<br />
							Personas que valoran un trato preferencial y quienes al decidirse a viajar, privilegian aquellos lugares que reconocen su lealtad.
						</p>
						<p>
							Mundo Imperial crea hoy un club de viajes selecto, que te da acceso a una amplia gama de privilegios y bene cios en cualquiera de los hoteles de Mundo Imperial: <span class="blacked">Resort Mundo Imperial, Princess Mundo Imperial y Pierre Mundo Imperial.</span>
						</p>
					</div>

				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 img-container">
					<img class="w-100" src="/assets/img/vacacionar.jpg" alt="">

				</div>
			</div>
		</section>

		<section class="info-video">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 flex-cc video-container">
					<div class="embed-responsive embed-responsive-16by9">
            <div >
							<iframe src="https://player.vimeo.com/video/257540991?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>

      		</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 flex-cc info-text">
					<div class="">
						<h3 class="upper">
							ENTRAR A MUNDO IMPERIAL ES ENTRAR A UN MUNDO DE PRIVILEGIOS Y EXPERIENCIA EN HOTELERÍA DE CLASE MUNDIAL
						</h3>
						<p>
							Pertenecer a <span class="blacked">Club Imperial</span> es entrar por la puerta grande a una amplia gama de experiencias de alto valor que caracterizan a <span class="blacked">Mundo Imperial</span>: un grupo de hospitalidad y entretenimiento de incuestionable trayectoria, reconocido a nivel mundial. Sin duda, <span class="blacked">Mundo Imperial</span> encabeza el liderazgo en la Riviera Diamante con su ubicación privilegiada y su amplia oferta de entretenimiento, sede de grandes eventos deportivos, musicales y de negocio. <span class="blacked">Mundo Imperial</span> es reconocido por sus altísimos estándares de calidad y continuamente está innovando para ofrecer más a sus huéspedes predilectos.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="viaja flex-cc">
			<div class="">
				<h6 class="upper text-center">VIAJA SIEMPRE <span class="blacked">VIAJA MÁS</span></h6>
				<h2 class="upper text-center">GOZA DE LOS PRIVILEGIOS DE SER PARTE DE CLUB IMPERIAL</h2>
				<p class="text-center">
					Uno de los principales privilegios es el trato preferente que te damos cada vez que vengas con tu familia o con amigos. Al ser parte de <span class="blacked">Club Imperial</span>, te asignamos un concierge a tu entera disposición. Además de atenderte de forma personalizada y recomendarte las amenidades de <span class="blacked">Mundo Imperial</span>, podrá ofrecerte viajes más allá de la Riviera Diamante Acapulco.
				</p>
			</div>
		</section>

		<section class="img-separator">
			<div class="">
				<div class="img-1">
					<img class="d-block" src="/assets/img/spa.jpg" alt="">
				</div>
				<div class="img-2">
					<img class="d-block" src="/assets/img/chef.jpg" alt="">
				</div>
				<div class="img-3">
					<img class="d-block" src="/assets/img/key-card.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="info-2">
			<div class="row">
				<div class="col-lg-7 col-md-12 col-sm-12 info-box-container">
					<div class="info-box info-box-left">
						<h3 class="upper">¿CÓMO FUNCIONA CLUB  IMPERIAL?</h3>
						<img class="w-100 sm-only" src="/assets/img/golf.jpg" alt="">
						<p>
							<span class="blacked">Club Imperial</span> es precisamente eso, un club que te otorga privilegios y beneficios cuando
te haces parte de él.
						</p>
						<p>
							Al sumarte al programa, <span class="blacked">Club Imperial</span> te otorga créditos recompensa que podrás utilizar para hospedarte en el hotel que pre eras, en la habitación que desees*. La gran ventaja de los créditos recompensa es que te sirven para cubrir una parte de tu estancia en combinación con una tarifa especial por noche de hospedaje. De esta forma podrás visitar frecuentemente <span class="blacked">Mundo Imperial</span>.
						</p>
						<p>
							Y lo mejor es que los privilegios de <span class="blacked">Club Imperial</span> funcionan siempre, es decir, en temporada baja, media o alta, podrás reservar a tarifas excepcionales y gozar de múltiples beneficios. Existe un Calendario de Uso para programar tus visitas y continuamente habrá promociones que te darán aún más beneficios.
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-12 img-container flex-cc hide-sm">
					<img class="w-100" src="/assets/img/golf.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="img-separator">
			<div class="">
				<div class="img-1">
					<img class="w-100" src="/assets/img/dad-pool.jpg" alt="">
				</div>
				<div class="img-2">
					<img class="w-100" src="/assets/img/tennis.jpg" alt="">
				</div>
				<div class="img-3">
					<img class="w-100" src="/assets/img/dad-pool-2.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="hotels-info">
			<div class="row">
				<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 img-container">
					<img class="w-100" src="/assets/img/resort-suite.jpg" alt="">
				</div>
				<div class="col-lg-6 col-xl-5 col-md-12 hotels-info-box flex-cc col-sm-12">
					<div class="text-box-right ">
						<h3 class="upper">UNA LUJOSA HABITACIÓN TE ESPERA TODO EL AÑO, EN EL HOTEL DE TU SELECCIÓN</h3>
						<p>
							Al pertenecer a <span class="blacked">Club Imperial</span>, estás haciendo un sueño realidad: irte de viaje cuando quieras, a precios que en ninguna otra parte te otorgan, precios únicos.

						</p>
						<p>
							Gracias a <span class="blacked">Club Imperial</span>, tendrás preferencia para reservar el tipo de habitación que quieras, en nuestros 3 magníficos hoteles.

						</p>
						<p>
							Club Imperial te permite reservar hasta 5 habitaciones en Temporadas Baja, Media y Alta y 3 Habitaciones en Temporada Premium.
						</p>

						<p>
							Existen 3 formas para reservar (no se pueden combinar entre ellas):

						</p>
						<p>
							<span class="blacked">1)</span> 15% descuento sobre tarifa más baja publicada
							<br>
							<span class="blacked">2)</span> Usar créditos recompensa + una tarifa especial por noche<sup>*</sup>
							<br>
							<span class="blacked">3)</span> Aprovechar las promociones que Club Imperial tiene todo el año.
						</p>
						<p class="clarification">
							<sup>*</sup> Los créditos recompensa en ningún caso podrán cubrir el 100% de la estancia, sirven únicamente para utilizarse en combinación con una tarifa especial por noche de hospedaje.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="hotels-info">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 sm-only">
					<img class="w-100" src="/assets/img/privilegios.jpg" alt="">
				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 hotels-info-box flex-cc bg-gray">
					<div class="text-box-left">
						<h3 class="upper">AL FORMAR PARTE DE CLUB IMPERIAL TIENES PRIVILEGIOS EXCLUSIVOS EN RIVIERA DIAMANTE ACAPULCO</h3>
						<ul>
							<li>Check-in y check-out exclusivos.</li>
							<li>15% de descuento en alimentos y bebidas en los hoteles participantes.</li>
							<li>15% de descuento en servicios de Spa en los hoteles participantes.</li>
							<li>15% de descuento en Green Fee del campo de Golf Princess.</li>
							<li>15% de descuento en Tenis (renta de cancha por hora y clases)</li>
							<li>10% descuento en XTASEA.</li>
							<li>Late check-out (3 pm), previo aviso con 24 h de anticipación.</li>
							<li>Acceso al Lounge de Mundo Imperial en el Aeropuerto de Acapulco.</li>
							<li>Un certificado al año para realizar un ascenso (upgrade) al siguiente tipo de habitación reservada, en temporadas baja y media.</li>
							<li>Boletín periódico con promociones y recomendaciones para aprovechar al máximo tus beneficios.</li>
							<li>Línea exclusiva de servicio y concierge personalizado.</li>
						</ul>
						<p class="clarification"><sup>*</sup>Todos los servicios y beneficios están sujetos a disponibilidad, previa reservación y no son acumulables con otras promociones. Consulta términos y condiciones en la Guía de Uso o en clubimperial.com.mx</p>
					</div>

				</div>
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 hide-sm img-container">
					<img class="w-100" src="/assets/img/privilegios.jpg" alt="">
				</div>
			</div>
		</section>

		<section class="hotels-info">
			<div class="row">
				<div class="col-lg-6 col-xl-5  col-md-12 col-sm-12 img-container">
					<img class="w-100" src="/assets/img/beneficios.jpg" alt="">
				</div>
				<div class="col-md-12 col-sm-12 col-xl-7 col-lg-6 hotels-info-box flex-cc">
					<div class="text-box-right">
						<h3 class="upper">AL ESTAR EN CLUB IMPERIAL TAMBIÉN TIENES BENEFICIOS EN TODO EL MUNDO</h3>
						<p>
							<span class="blacked">Club Imperial</span> no solo te da un trato preferencial en la Riviera Diamante, las ventajas de pertenecer te darán privilegios en otras partes del mundo, como descuentos y beneficios especiales en servicios de viaje como:
						s</p>
						<ul>
							<li>Hospedaje en destinos alrededor del mundo</li>
							<li>Reservaciones para renta de autos.</li>
							<li>Reservaciones en tours y actividades.</li>
							<li>Reservaciones en cruceros.</li>
							<li>Reservaciones en boletos de avión.</li>
							<li>Semanas de hospedaje last minute.</li>
							<li>Garantía de mejor tarifa y recompensas.</li>
							<li>Concierge personalizado que atenderá tus deseos para hacer. realidad tu viaje.</li>
						</ul>
					</div>
				</div>

			</div>
		</section>

		<section class="travel-platform">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="flex-cc info">
						<q cite="[object Object]">Descubre estos y muchos beneficios más en nuestra Plataforma de Viajes</q>
						<div class="btn-2 upper">
							Plataforma de Viajes
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 flex-cc video-container">
					<div class="embed-responsive embed-responsive-16by9">
            <div >
							<iframe src="https://player.vimeo.com/video/270217137?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
      		</div>
				</div>
			</div>

			</div>

		</section>

		<section class="adds">
			<div class="row">
				<div class=" col-lg-4 col-md-12 col-sm-12">
					<img class="w-100" src="/assets/img/playa-familia.jpg" alt="">
					<p class="upper">
						<span class="blacked">SÚMATE</span> A LA MANERA MÁS FLEXIBLE DE VIAJAR: LAS VECES QUE TÚ QUIERAS, EN CUALQUIER ÉPOCA DEL AÑO.
					</p>
				</div>
				<div class=" col-lg-4 col-md-12 col-sm-12">
					<img class="w-100" src="/assets/img/toallas.jpg" alt="">
					<p class="upper">
						<span class="blacked">SÚMATE</span> A LA VENTAJA DE RESERVAR LA HABITACIÓN QUE TÚ QUIERAS, EN EL HOTEL DE MUNDO IMPERIAL QUE TÚ QUIERAS, A PRECIOS EXCEPCIONALES.
					</p>
				</div>
				<div class=" col-lg-4 col-md-12 col-sm-12">
					<img class="w-100" src="/assets/img/relajacion-alberca.jpg" alt="">
					<p class="upper">
						<span class="blacked">SÚMATE</span> A LA MEJOR FORMA DE APROVECHAR TODO LO QUE TE OFRECE MUNDO IMPERIAL, LAS MEJORES AMENIDADES, RESTAURANTES Y EVENTOS ESPECIALES DE LA RIVIERA DIAMANTE ACAPUÑCO.
					</p>
				</div>
			</div>
		</section>

		<section class="our-hotels">
			<div class="title">
				<h2 class="upper text-center">Nuestros Hoteles</h2>
				<p class="text-center">
					Al pertenecer a <span class="blacked">Club Imperial</span>, estás haciendo un sueño realidad: irte de viaje cuando quieras, a precios que en ninguna otra parte te otorgan, precios únicos.
				</p>
				<p class="text-center">
					Gracias a <span class="blacked">Club Imperial</span>, tendrás preferencia para reservar el tipo de habitación que quieras, en nuestros 3 magníficos hoteles.
				</p>
			</div>
			<div class="hotels">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<img class="w-100" src="/assets/img/princess.jpg" alt="">
						<div class="info">
							<h2 class="resort">Princess <span class="upper">mundo imperal</span> </h2>
							<p>Ha sido reconocido como uno de los 25 mejores “Resorts” en América Latina por la revista “Travel & Leisure”.</p>
							<p>Distinguido como uno de los 500 mejores Hoteles del mundo por la revista “Travel & Leisure”.</p>
							<p>1011 lujosas habitaciones y suites en sus tres torres.</p>
							<p>Ubicado al pie de la playa Revolcadero</p>
							<p>2 campos de golf de primer nivel: Turtle Dunes de 18 hoyos diseñado por Tripp Davis y el Campo de Golf Princess Mundo Imperial, diseñado por Ted Robinson</p>
							<p>El Spa Tlalli, distinguido como uno de los mejores spas en México</p>
							<p>Estadio de Tenis y 8 canchas profesionales: 5 de ellas con superficie Laykold</p>
							<p>5 albercas:  una de ellas de agua salada</p>
							<p>Vibrante escena gastronómica con 8 restaurantes en todo el complejo</p>
							<p>@Play, programa de actividades para niños</p>
							<p>Gimnasio con modernas instalaciones y equipo</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-12 col-sm-12">
						<img class="w-100" src="/assets/img/pierre.jpg" alt="">
						<div class="info">
							<h2 class="resort">Pierre <span class="upper">mundo imperal</span> </h2>
							<p>Legendario por dos razones, su reconocida exclusividad y por haberse construido en los años 50 como residencia del afamado arquitecto Frank Getty.</p>
							<p>El diario USA Today lo nombró uno de los 10 mejores hoteles del mundo.</p>
							<p>La revista Travel&Leisure lo ha colocado entre los mejores hoteles de lujo de Lationamérica y el Caribe.</p>
							<p>Elige entre sus acogedoras villas o pabellones entre jardines tropicales y vistas al mar que te robarán el aliento.</p>
							<p>Relájate en un santuario de exclusividad en cualquiera de sus 3 piscinas.</p>
							<p>Su afamado restaurante Tabachín ha sido galardonado con los 4 Diamantes de la “AAA” y el “Star Diamond Award” por la “American Academy of Hospitality Sciences”.</p>
						</div>
					</div>

					<div class="col-lg-4 col-md-12 col-sm-12">
						<img class="w-100" src="/assets/img/resort.jpg" alt="">
						<div class="info">
							<h2 class="resort">Resort <span class="upper">mundo imperal</span> </h2>
							<p>Único en su tipo, constituye un concepto de turismo integral: incluye lujo, confort, bienestar, espectáculo, entretenimiento, compras y alta oferta gastronómica</p>
							<p>Un hotel “state of the art” con 814 habitaciones y suites: RESORT MUNDO IMPERIAL</p>
							<p>Al hotel se suma un moderno centro de convenciones: EXPO</p>
							<p>El más moderno centro de espectáculos y entretenimiento: FORUM</p>
							<p>Un impresionante paseo al aire libre con elegantes espacios: PROMENADE</p>
							<p>5 albercas: 1 alberca de olas y 1 alberca exclusiva para adultos</p>
							<p>Tres canchas de tenis de arcilla Nova Court</p>
							<p>Cancha de fútbol profesional</p>
							<p>Pista de jogging</p>
							<p>Kid´s Club</p>
							<p>Teen Club</p>
							<p>Gimnasio con aparatos de última generación</p>
							<p>Spa con altísimos estándares de calidad en tratamientos de belleza y bienestar</p>

						</div>
					</div>

				</div>
			</div>
		</section>

		<section>
			<div id="map" class="map">

			</div>
		</section>

		<section class="contact">
			<div class="container">
				<h2 class="upper text-center">contáctanos</h2>
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<a href="mailto:contacto@clubimperial.com" target="_blank">
							<span class="fa fa-envelope"></span>
							contacto@clubimperial.com
						</a>
						<br>
						<a href="tel:01 800 902 9999" target="_blank">
							<span class="fa fa-phone"></span>
							01 800 902 9999
						</a>
						<div class="hide-sm">
							<img class="logo" src="/assets/img/logo-copy.png" alt="">
						</div>

					</div>
					<div class="col-lg-8 col-md-12 col-sm-12 form-container">
						<form class="" action="index.html" method="post">
							<div class="row">
								<div class="col-md-6">
									<label><span class="blacked">Nombre Completo</span> <sup>*</sup>Obligatorio</label>
									<input type="text" name="" value="">
								</div>
								<div class="col-md-6">
									<label><span class="blacked">Teléfono</span></label>
									<input type="text" name="" value="">
								</div>
								<div class="col-md-6">
									<label><span class="blacked">Correo Electrónico</span> <sup>*</sup>Obligatorio</label>
									<input type="text" name="" value="">
								</div>
								<div class="col-md-6">
									<label><span class="blacked">Confirmar Correo Electrónico</span> <sup>*</sup>Obligatorio</label>
									<input type="text" name="" value="">
								</div>
								<div class="col-md-12">
									<label><span class="blacked">Mensaje</span></label>
									<textarea name="name" rows="8" cols="80"></textarea>
								</div>
								<div class="col-md-12">
								<!--	<input class="btn-3" type="submit" name="" value="ENVIAR"> -->
									<a class="btn-3 upper" href="correo-enviado.html">enviar</a>
								</div>
							</div>
						</form>
					</div>
					<div class="sm-only col-md-12  col-12 col-sm-12">
						<img class="logo w-100 d-block" src="/assets/img/logo-copy.png" alt="">
					</div>
				</div>
			</div>
		</section>
		{{!-- end: content --}}

	</main>
	{{> footer }}
	{{!-- end: content container --}}


	<script src="https://maps.googleapis.com/maps/api/js?callback=loadMap"></script>
		<script src="https://player.vimeo.com/api/player.js"></script>
